* {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.clock {
    width: 10vw;
    height: 10vh;
    border-radius: 1vw;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-weight: bold;
}

